 *{
    margin: 0;
    padding: 0;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0, 100px;
    width: 100%;
    box-sizing: border-box;
box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);

}
.header .logo{
    color: #000;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    margin: 0 10px;
    font-weight: bold;
}
.header nav{
    float: right;
    margin: 0 10px;
}
.header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.header nav ul li{
    list-style: none;
}
.header nav ul li:hover{
    background-color: #000;
    height: 100%;
}
.header nav ul li a{
    text-decoration: none;
    color: #000;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    display: block;
}
.header nav ul li a:hover,
.header nav ul li a.active{
    color: #fff;
}
.toggle-menu{
    color: #000;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    margin: 0 10px;
    
}
@media(max-width:768px){
    .header{
        padding: 0 20px;
    }
    .header nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background-color: #333;
        top: 50px;
        left: -100%;
        /* left:-100% for sidebar animation */
        transition: 0.5s;
    }
    .header nav ul{
        display: block;
        text-align: center;
    }
    .header nav ul li{
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .toggle-menu{
        display: block;
       
    }
}